<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- use the latest IE rendering mdoe -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Bootstrap CSS & JS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- Material design -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/roboto.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script>
	<!-- Core style -->
    <link rel="stylesheet" href="{% static "css/style.css" %}?v=0.0.1" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container">
		<div id="content_outer" class="row">
			<form id="labelForm" method="get" action="">
			<div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">
				<div id="label_outer" class="text-center">
					{% include 'label.html' %}
				</div>
			</div>
			
			<div class="col-md-6 hidden-sm hidden-xs">
				{% include 'choices.html' %}
				</form>
				{% include 'buy.html' %}
			</div>

			<div class="hidden-lg hidden-md col-sm-12 col-xs-12">
				</form>
				{% include 'buy.html' %}
			</div>

		</div>
	</div>
</body>
<footer>
	<script src="{% static "js/fields.js" %}?v=0.0.1"></script>
	<script src="{% static "js/api.js" %}?v=0.0.1"></script>
	<script src="{% static "js/validator.js" %}?v=0.0.1"></script>
	<script src="{% static "js/cookie.js" %}?v=0.0.1"></script>
	<script src="{% static "js/ux.js" %}?v=0.0.1"></script>
	<script src="{% static "js/label.js" %}?v=0.0.1"></script>
	<script src="https://checkout.stripe.com/checkout.js"></script>
	<script src="{% static "js/stripe.js" %}?v=0.0.1"></script>
	<script src="{% static "js/jquery.validate.min.js" %}?v=0.0.1"></script>
</footer>
</html>