{% load staticfiles %}
<div class="row">
	<div class="col-sm-8 col-md-7 col-sm-offset-2 text-center">
		<div class="panel panel-success">
			<div class="panel-heading">Instant Purchase</div>
		    <div class="panel-body" style="padding-left: 25px; padding-right: 25px">
		    	<img src="{% static 'img/ajax-loader.gif' %}" id="rate-loading-image" style="display:none; margin:11px 0 11px 0">
		        <table width="100%" id="buy-table">
		        	<tr>
		        		<td>
		        			<h3 id="rate_price" style="margin-top: 10px;"></h3>
		        		</td>
		        		<td>
		        			<div id="buy_button" style="display:none">
		        				<a id="buy_button_stripe" class="btn btn-success">Buy Now</a>
							</div>
							<div id="rate_button">
								<a onclick="getRate();" class="btn btn-success">Get Rate</a>
							</div>
						</td>
					</tr>
				</table>
		    </div>
		</div>
	</div>
</div>