<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Anonymously purchase discounted USPS shipping labels with Bitcoin.">
	<meta name="keywords" content="shipping labels, usps shipping label, bitcoin shipping label, bitcoin, bitcoin shipping, bitcoin postage, bitcoin USPS, bitcoin online usps, bitcoin usps online, pay label with bitcoin, pay shipping with bitcoin, pay usps with bitcoin, pay postal with bitcoin, postal bitcoin, priority mail bitcoin">
	<link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
	<link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
	<title>Shipcoin | USPS shipping labels paid with Bitcoin</title>
	<!-- use the latest IE rendering mdoe -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Bootstrap CSS & JS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- Material design -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/roboto.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script>
	<!-- Core style -->
    <link rel="stylesheet" href="{% static "css/style.css" %}?v=0.0.1" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <!-- Start of shipcoin Zendesk Widget script -->
	<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","shipcoin.zendesk.com");/*]]>*/</script>
	<!-- End of shipcoin Zendesk Widget script -->
</head>
<body>

	<div class="container">

		<div style="border-bottom: 1px solid rgba(206, 206, 206, 0.35); margin-bottom: 20px; overflow: auto">
			<div class="row">
				<div class="col-xs-12 col-sm-8">
					<table>
	    				<tr>
	    					<td style=""><img alt="Shipcoin: USPS shipping labels with Bitcoin" src="{% static "img/shipcoin.png" %}" width="40"></td>
							<td><h1 style="margin-top:10px; padding-left:10px">Shipcoin</h1></td>
						</tr>
					</table>
				</div>
				<div class="text-right hidden-xs col-sm-4" style="padding-top:18px">
		    		Purchase discounted USPS shipping labels with Bitcoin.
		    	</div>
		    	<div class="visible-xs" style="padding:5px 0 15px 20px">
		    		Purchase discounted USPS shipping labels with Bitcoin.
		    	</div>
		    </div>
		</div>

		
		<div id="content_outer" class="row">
			<form id="labelForm" method="get" action="">
			<div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">
				<div id="label_outer" class="text-center">
					{% include 'label.html' %}
				</div>
			</div>
			<div class="col-md-6 col-xs-12">
				<div class="hidden-md hidden-lg">
					<br>
				</div>
				{% include 'choices.html' %}
				</form>
				{% include 'buy.html' %}
			</div>			

		</div>
		<div class="row text-center" style="padding: 60px 0 20px 0; color: grey">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
				<p>Shipcoin is the easiest way to get USPS shipping labels with Bitcoin. Simply enter your addresses, choose a service and package and pay your label postage with Bitcoin online.<br>Powered by the <a href="https://goshippo.com" target="blank" title="Shippo USPS shipping API">Shippo USPS shipping API</a></p>
			</div>
		</div>
	</div>
	{% include 'label-modal.html' %}
</body>
<footer>
	<script>
		stripe_publishable_token = "{{ STRIPE_PUBLISHABLE_TOKEN }}";
	</script>
	<script src="{% static "js/fields.js" %}?v=0.0.1"></script>
	<script src="{% static "js/api.js" %}?v=0.0.1"></script>
	<script src="{% static "js/validator.js" %}?v=0.0.1"></script>
	<script src="{% static "js/cookie.js" %}?v=0.0.1"></script>
	<script src="{% static "js/ux.js" %}?v=0.0.1"></script>
	<script src="{% static "js/label.js" %}?v=0.0.1"></script>
	<script src="https://checkout.stripe.com/checkout.js"></script>
	<script src="{% static "js/stripe.js" %}?v=0.0.1"></script>
	<script src="{% static "js/jquery.validate.min.js" %}?v=0.0.1"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-68988913-1', 'auto');
	  ga('send', 'pageview');

	</script>
</footer>
</html>