<div class="modal fade" id="labelModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title">Your USPS label</h4>
      </div>
      <div class="modal-body text-center" style="padding-top:20px">
        <p><a href="" id="labelUrlButton" class="btn btn-primary" target="blank">Download your label</a></p>
        <p>Your tracking number is <span id="labelTrackingNumber"></span>.<br>You can <a href="" id="UspsTrackingUrl" target="blank">track your shipment on the USPS website</a>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->