<div class="modal fade" id="testModeModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title">Shipcoin is in test mode</h4>
        <hr>
      </div>
      <div class="modal-body " style="padding-top:20px">
        <p>Shipcoin only returns sample USPS test labels. You don't have to pay for these labels, but can't use them to actually ship packages.</p>
        <p><strong>It's not possible to purchase paid shipping labels on Shipcoin.</strong></p>
        <p>To get paid postage, we recommend any of the following options:
        <ul>
          <li>If you're a developer, you can host your own instance of Shipcoin by downloading the open-source code at <a href="https://github.com/oneminutepostage/shipcoin">https://github.com/oneminutepostage/shipcoin</a> and running it with a production Shippo API token.</li>
          <li>Directly use <a href="https://goshippo.com" alt="Shippo shipping API for USPS, FedEx, UPS, DHL Express and others">Shippo's web interface</a> to pay with credit card.</li>
          <li>Use <a href="https://shipnik.com/">Shipnik</a> to pay with Bitcoin.</li>
        </p>
      </div>
      <div class="text-center" style="padding-bottom: 20px">
        <hr>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Start Test Mode</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->